.app__search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: transparent;
    z-index: 100;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #fff;
  font-weight: bold;
  font-family: 'Montserrat Alternates';
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  width: 400px;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 30px;
  margin-right: 10px;
  transition: 0.25s ease;
  font-family: 'Montserrat Alternates';
}

input[type="text"]:hover {
  background: #eee;
}

button {
  padding: 10px 30px;
  background-color: var(--bg-btn-color);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.25s ease;
  text-transform: uppercase;
  font-family: 'Montserrat Alternates';
}

button:hover {
  background-color: #fff;
  color: var(--bg-btn-color);
}

h2 {
  font-size: 25px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: var(--h2-color);
}

p {
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--p-color);
}

img {
  width: 100px;
  height: 100px;
}

.app__search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-info-cont-color);
  padding: 2rem;
  border-radius: 20px;
  transition: 0.25s ease;
}

.app__search-result h2 {
  color: var(--h2-color);
  transition: 0.5s ease;
  font-family: "Montserrat Alternates";
}

.app__search-result p {
  font-family: "Poppins";
  color: var(--p-color) ;
  font-size: 16px;
  padding-bottom: 0.25rem;
}

.img__cont {
  padding: 0.1rem;
  background: var(--bg-btn-color);
  border-radius: 10px;
}

@media screen and (max-width: 650px) {
  input[type="text"]{
    width: 300px;
  }

  button {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 500px) {
  .app__search form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input[type="text"] {
    width: 250px;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 35px;
  }

  button {
    padding: 12px 22px;
  }
}