body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

:root {
  --bg-color: #41C0F2;
  --bg-btn-color: #005078;
  --bg-info-color: #C1EBFB;
  --bg-info-cont-color: #fff;
  --h2-color: #005078;
  --p-color: #333;
  --div-color: #444;
  --icon-color: #FFD800;
  --icon-render1: flex;
  --icon-render2: none;
}

[theme='dark'] {
  --bg-color: #223;
  --bg-btn-color: #223;
  --bg-info-color: #B7B7BD;
  --bg-info-cont-color: #223; 
  --h2-color: #fff;
  --p-color: #ddd;
  --div-color: #fff;
  --icon-color: #A39E9E;
  --icon-render1: none;
  --icon-render2: flex;
}